*, body, html, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background_image_piano.jpg);
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}

body h1:first-of-type {
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 3em;
    display: inline-block;
    position: absolute;
    top: 5%;
    font-family: 'Lobster', cursive;
}

.contenedor {
    position: relative;
    margin: auto;
    background: rgb(24, 20, 20);
    width: 55%;
    height: 50%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

.middleBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: white;
    height: 60%;
    width: 90%;
    border-top: 0.5px solid black;
    border-bottom: 0.1px solid black;
    position: absolute;
    top: 40%;
    left: 5%;
}

.middleBottom button {
    position: relative;
    display: inline-block;
    background: white;
    width: 100%;
    border: 0.1px solid black;
    border-top: 0px;
}

.middleBottom button:hover {
/*     transform: scaleX(1.1); */
    background: rgba(233, 79, 79, 0.589);
}

body > ol > li > button  {
    border: 0.1px solid black;
    height: 30px;
    width: 50px;
    display: block;
}
body > ol > li > button:hover {
    background: rgba(252, 123, 123, 0.397);
}

/* -------------------------------- */
/* Botones negros creados con after */
/* -------------------------------- */
.buttomBlack {
    display: inline-block;
    position: relative;
    bottom: 25%;
    left: 55%;
    content: '';
    z-index: 2;
    border-top: 1px solid black;
    background: black;
    width: 63%;
    height: 48%;
    box-shadow: 0px 0px 1px 0px black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 248, 248, 0.26);
    height: 5vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    box-shadow: 0 -2px 8px -2px grey;
}

footer div {
    color: black;
    font-size: 0.75em;
    font-weight: 500;
}

/* ------------------------------- */
/* Botones negros creados con Html */
/* ------------------------------- */

/* 
.do:hover, .re:hover, .fa:hover, .sol:hover, .la:hover {
    transform: scale(1.05);
}

.do, .re, .fa, .sol, .la {
    z-index: 2;
    border-top: 1px solid black;
    background: black;
    width: 63%;
    height: 48%;
    position: relative;
    left: 75%;
    box-shadow: 0px 0px 1px 0px black;
}

#noBlackBottom {
    border-top: 0px solid black;
    background: none;
    box-shadow: none;
}

 */


